openapi: "3.0.2"
info:
  description: "The JDLink™ Machine Data API retrieves machine data according to the ISO standard (15143-3).Before you access the JDLink™ Machine Data API, you must have set up a username, password,and organization for you through MyJohnDeere or JDLink™. Ask your John Deere Dealer or submit a support ticket if you require assistance."
  title: "Fleet endpoints"
  version: "1.0.0"
servers:
  - url: "https://sandboxaemp.deere.com/Fleet/{pageNumber} (sandbox)<br/>GET https://partneraemp.deere.com/Fleet/{pageNumber} (live)"
    description: "url"
paths:
  /Fleet/{pageNumber}:
    get:
      description: "Retrieve a snapshot view of an equipment owner’s fleet. The API response is paginated with a page size of 100. If the response is large, it will be chunked into multiple pages. Please follow the \"next\" link within the response to retrieve all the fleets. <br/> <br/> <b>Note:</b> The API response is cached on our servers for an hour. Hence, polling frequency of at least one hour is recommended. <br/> <b>Note:</b> Not all vehicles will supply all data points."
      summary: "Get Fleet List"
      parameters:
        - $ref: "#/components/parameters/PageNumber"
      responses:
        "200":
          $ref: "#/components/responses/FleetResponse"
components:
  parameters:
    PageNumber:
      name: "pageNumber"
      description: "Navigation to a page. Links to the current, previous, next and last pages will be provided for easy navigation"
      in: "path"
      schema:
        example: "1"
        default: "100 records per page."
        type: "string"
  responses:
    FleetResponse:
      description: "View One Page in a Machine List"
      content:
        application/xml:
          schema:
            properties:
              values:
                items:
                  $ref: "#/components/schemas/FleetValue"
          examples:
            XML:
              description: "200 OK"
              value:
                Fleet:
                  Links:
                    - Link:
                        - rel: "self"
                          href: "https://sandboxapi.deere.com/aemp/Fleet/1"
                    - Link:
                        - rel: "last"
                          href: "https://sandboxapi.deere.com/aemp/Fleet/4"
                    - Link:
                        - rel: "next"
                          href: "https://sandboxapi.com/aemp/Fleet/2"
                    - Link:
                        - rel: "connections"
                          href: "https://connections.deere.com/connections/deere-sld8shg8ee0o8ns8nhdh88hn/select-organizations"
                  Equipment:
                    EquipmentHeader:
                      OEMName: "JOHN DEERE"
                      Model: "260E"
                      EquipmentID: "1DW260EXJEF001076"
                      SerialNumber: "1DW260EXJEF001076"
                      PIN: "1DW260EXJEF001076"
                    Location:
                      Latitude: 42.573861
                      Longitude: -90.709778
                    CumulativeIdleHours:
                      Hour: 180.6
                    CumulativeLoadCount:
                      Count: 496
                    CumulativeOperatingHours:
                      Hour: 428.7
                    CumulativePayloadTotals:
                      PayloadUnits: "Kilograms"
                      Payload: 499900
                    Distance:
                      OdometerUnits: "kilometre"
                      Odometer: 18871.799
                    DEFRemaining:
                      Percent: 34.4
                    FuelRemaining:
                      Percent: 48.8
                    FuelUsed:
                      FuelUnits: "litre"
                      FuelConsumed: 63119
  schemas:
    FleetValue:
      properties:
        <b>equipmentHeader</b>:
          type: "object"
          example: "---"
          description: "See sample response below. This field includes: OEMName, Model, EquipmentID, SerialNumber, & PIN."
        OEMName:
          type: "string"
          description: "Name of equipment manufacturer."
          example: "JOHN DEERE"
        Model:
          type: "string"
          example: "260E"
          description: "Model number."
        EquipmentID:
          type: "string"
          example: "1DW260EXJEF001076"
          description: "User assigned ID."
        SerialNumber:
          type: "string"
          example: "1DW260EXJEF001076"
          description: "Serial number."
        Pin:
          type: "string"
          example: "1DW260EXJEF001076"
          description: "Assigned PIN."
        <b>Location</b>:
          type: "object"
          description: "See below. The Location object includes: datetime, latitude, & longitude."
          example: "---"
        Location-datetime:
          type: "dateTime"
          example: "2017-03-22T18:35:45.000Z"
          description: "The last time Location was updated."
        Latitude:
          type: "double"
          example: "42.573861"
          description: "Latitude of the machine."
        Longitude:
          type: "double"
          example: "-90.709778"
          description: "Longitude of the machine."
        <b>CumulativeIdleHours</b>:
          type: "object"
          example: "---"
          description: "See below. The CumulativeIdleHours object includes datetime, & Hour."
        CumulativeIdleHours-datetime:
          type: "dateTime"
          example: "2017-03-22T18:35:45.000Z"
          description: "The last time CumulativeIdleHours was updated."
        CumulativeIdleHours-Hour:
          type: "double"
          description: "Count of total idle hours at the given date time."
          example: "180.60"
        <b>CumulativeLoadCount</b>:
          type: "object"
          example: "---"
          description: "See below. The CumulativeLoadCount object includes datetime, & Load."
        CumulativeLoadCount-datetime:
          type: "dateTime"
          description: "The last time CumulativeLoadCount was updated."
          example: "2017-03-22T18:35:45.000Z"
        CumulativeLoadCount-Count:
          type: "integer"
          description: "Total count of loads."
          example: "496"
        <b>CumulativeOperatingHours</b>:
          type: "object"
          example: "---"
          description: "See below. The CumulativeOperatingHours object includes datetime, & Hour."
        CumulativeOperatingHours-datetime:
          type: "dateTime"
          description: "The last time CumulativeOperatingHours was updated."
          example: "2017-03-24T09:01:00.000Z"
        CumulativeOperatingHours-Hour:
          type: "double"
          example: "428.70"
          description: "Count of total operating hours at the given date time."
        <b>CumulativePayloadTotals</b>:
          type: "object"
          example: "---"
          description: "See below. The CumulativePayloadTotals object includes datetime, PayloadUnits, & Payload."
        CumulativePayloadTotals-datetime:
          type: "dateTime"
          description: "The last time CumulativePayloadTotals was updated."
          example: "2017-03-22T18:35:45.000Z"
        PayloadUnits:
          type: "string"
          example: "Kilograms"
          description: "Unit of measure for the total."
        Payload:
          type: "integer"
          example: "499900"
          description: "Total cumulative payload weight."
        <b>Distance</b>:
          type: "object"
          example: "---"
          description: "See below. The Distance object includes datetime, OdometerUnits, & Odometer."
        Distance-datetime:
          type: "dateTime"
          example: "2017-03-22T18:35:45.000Z"
          description: "The last time Distance was updated."
        OdometerUnits:
          type: "string"
          example: "kilometre"
          description: "Unit of measure for the total distance."
        Odometer:
          type: "double"
          example: "18871.799"
          description: "Total distance from Odometer."
        <b>DEFRemaining</b>:
          type: "object"
          example: "---"
          description: "See below. The DEFRemaining object includes datetime, & Percent."
        DEFRemaining-datetime:
          type: "dateTime"
          description: "The last time DEFRemaining was updated."
          example: "2017-03-22T18:35:45.000Z"
        DEFRemaining-Percent:
          type: "double"
          example: "34.40"
          description: "Percentage of the tank with DEF remaining."
        <b>FuelRemaining</b>:
          type: "object"
          example: "---"
          description: "See below. The FuelRemaining object includes datetime, & Percent."
        FuelRemaining-datetime:
          type: "dateTime"
          example: "2017-03-22T18:35:45.000Z"
          description: "The last time FuelRemaining was updated."
        FuelRemaining-Percent:
          type: "double"
          description: "Percentage of tank with fuel."
          example: "48.80"
        <b>FuelUsed</b>:
          type: "object"
          example: "---"
          description: "See below. The FuelUsed object includes datetime, FuelUnits & FuelConsumed."
        FuelUsed-datetime:
          type: "dateTime"
          example: "2017-03-22T18:35:45.000Z"
          description: "The last time FuelUsed was updated."
        FuelUnits:
          type: "string"
          example: "litre"
          description: "FuelUnits in litre."
        FuelConsumed:
          type: "double"
          example: "63119"
          description: "Total fuel consumed."
