openapi: "3.0.0"
info:
  description: "This is file management service for managing files"
  version: "4.0.0"
  title: "Files"
  contact:
    email: "ISG_HalpDesk@JohnDeere.com"
    name: "Halp Desk"
servers:
  - url: "https://api.deere.com/platform"
    description: "Production API endpoint"
  - url: "https://apicert.deere.com/platform"
    description: "Certification API endpoint"
  - url: "https://apiqa.tal.deere.com/platform"
    description: "Quality API endpoint"
  - url: "https://apidev.tal.deere.com/platform"
    description: "Development API endpoint"
paths:
  /files:
    get:
      summary: "List Files"
      description: "This resource retrieves the list of available files. For each file, the response will link to the following resources: owningOrganization: View the org that owns the file. partnerships: View the partners this file is shared with."
      security:
        - OAuth2:
            - "files"
            - "ag3"
      parameters:
        - $ref: "#/components/parameters/FilterOptional"
        - $ref: "#/components/parameters/FileTypeOptional"
        - $ref: "#/components/parameters/Transferable"
        - $ref: "#/components/parameters/X-deere-signatureOptional"
      responses:
        "200":
          $ref: "#/components/responses/FileListResponse"
        "400":
          description: "Invalid filter value."
        "403":
          description: "Invalid to access files for organization."
  /files/{fileId}:
    get:
      summary: "View/Download A File"
      description: "This resource allows the client to view or download a file. Note: Only files smaller than 50 MB can be downloaded at once. Larger files will need to be downloaded in chunks. To download in chunks, you can use the Range request header, or the offset and size request parameters. If both are used, the request header will take precedence. To view a file's metadata, choose the application/vnd.deere.axiom.v3+json Accept Header. To download the file to the client software, choose a /zip or octet-stream Accept Header. The following example will show a GET call to view a files metadata. The response will contain links to the following resources: owningOrganization: View the org that owns the file. partnerships: View a list of the partnerships through which the file is shared, if applicable. initiateFileTransfer: Request to send this file to a specified machine. wdtCapableMachines: View a list of machines in the org which can receive this file."
      parameters:
        - $ref: "#/components/parameters/Offset"
        - $ref: "#/components/parameters/Size"
        - $ref: "#/components/parameters/FileId"
      security:
        - OAuth2:
            - "files"
            - "ag3"
      responses:
        "200":
          $ref: "#/components/responses/FileIdGet"
        "403":
          description: "Unauthorized to access file"
        "404":
          description: "File is not present"
    put:
      summary: "Upload/Update A File"
      security:
        - OAuth2:
            - "files"
            - "ag3"
      description: "This resource allows the client to upload or update a file. The client must before uploading a file."
      requestBody:
        content:
          application/vnd.deere.axiom.v3+json:
            schema:
              $ref: "#/components/schemas/EditableFileDetails"
          Upload a file:
            examples:
              Upload a file:
                description: "PUT: https://sandboxapi.deere.com/platform/files/fileID Accept: application/vnd.deere.axiom.v3+json Authorization: OAuth realm=\"\",oauth_timestamp=\"1406138640\", oauth_nonce=\"I2sX0Z\", oauth_consumer_key=\"com.deere.example\", oauth_token=\"a5633e06-bd09-43a5-942a-2e1255681ca9\", oauth_version=\"1.0\", oauth_signature_method=\"HMAC-SHA1\", oauth_signature=\"CX7E9KJra9ok5WpIejjFpafh8lE%3D\" Content-Type: application/octet-stream"
          Update a file:
            examples:
              Update a file:
                description: "PUT https://partnerapi.deere.com/platform/files/fileID Accept: application/vnd.deere.axiom.v3+json Authorization: { Bearer } Content-Type: application/vnd.deere.axiom.v3+json"
                value:
                  id: "fileID"
                  archived: true
                  delayProcessing: false
          application/vnd.deere.axiom.v3+xml:
            schema:
              $ref: "#/components/schemas/EditableFileDetails"
      responses:
        "200":
          description: "Successful operation"
          content:
            application/vnd.deere.axiom.v3+json:
              schema:
                properties:
                  total:
                    type: "integer"
                    example: 1
                    format: "int32"
        "204":
          description: "Created. No Content"
          content:
            application/vnd.deere.axiom.v3+json:
              schema:
                properties: {}
              examples:
                Headers:
                  description: "204 No Content Pragma: no-cache Date: Wed, 23 Jul 2014 18:04:00 GMT Server: Apache-Coyote/1.1 X-Deere-Handling-Server: ldxtc1 X-Deere-Elapsed-Ms: 645 Transfer-Encoding: chunked Content-Language: en-US Content-Type: application/vnd.deere.axiom.v3+json;charset=UTF-8 Cache-Control: no-cache, no-store, max-age=0 Connection: Keep-Alive Keep-Alive: timeout=5, max=100 Expires: Thu, 01 Jan 1970 00:00:00 GMT"
        "400":
          description: "Invalid file name or cannot delay processing after processing has begun"
        "403":
          description: "Unauthorized to update file."
        "404":
          description: "File is not present."
      statusCode:
        content:
          application/vnd.deere.axiom.v3+json:
            schema:
              $ref: "#/components/schemas/PutFiles"
  /organizations/{orgId}/files:
    get:
      summary: "List an Org's Files"
      description: "View a list of an org's files. This resource allows for pagination. For each returned file, the response will link to the following resources: owningOrganization: View the org that owns the file. partnerships: View the partnerships through which the file is shared, if applicable. initiateFileTransfer: Submit a transfer request for the specified file. machinesEligibleToReceiveFile: List of WDT-capable machines that the specified file can be sent to. sendFileToMachine: The same as \"initiateFileTransfer.\" wdtCapableMachines: The same as \"machinesEligibleToReceiveFile.\""
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
        - $ref: "#/components/parameters/FileType"
        - $ref: "#/components/parameters/Archived"
        - $ref: "#/components/parameters/Status"
        - $ref: "#/components/parameters/OrganizationID3"
        - $ref: "#/components/parameters/X-deere-signature"
      security:
        - OAuth2:
            - "files"
            - "ag3"
      responses:
        "200":
          $ref: "#/components/responses/FileListResponse"
        "400":
          description: "Invalid filter value."
        "403":
          description: "Unauthorized to access any file type."
        "404":
          description: "Organization id does not exist."
    post:
      summary: "Create A File ID"
      description: "The POST call below shows the creation of file id \"55\" in organization \"73\" in Operation Center. The response \"location\" header will return the new file ID in the link returned. The client software will then use the new file ID, to"
      security:
        - OAuth2:
            - "files"
            - "ag3"
      requestBody:
        content:
          application/vnd.deere.axiom.v3+json:
            schema:
              $ref: "#/components/schemas/PostableFileDetails"
            examples:
              No Header:
                value:
                  name: "back40Seeding.zip"
          application/vnd.deere.axiom.v3+xml:
            schema:
              $ref: "#/components/schemas/PostableFileDetails"
      parameters:
        - $ref: "#/components/parameters/OrganizationID2"
        - $ref: "#/components/parameters/Name"
        - $ref: "#/components/parameters/DelayProcessing"
        - $ref: "#/components/parameters/Links"
      responses:
        "201":
          description: "Created"
          content:
            application/vnd.deere.axiom.v3+json:
              schema:
                properties:
                  total:
                    type: "integer"
                    example: 1
                    format: "int32"
              examples:
                Headers:
                  description: "HTTP/1.1: 201 Created Date: Wed, 31 Aug 2016 16:18:22 GMT Content-Encoding: gzip X-Deere-Handling-Server: ldxx90tc5 X-Frame-Options: SAMEORIGIN X-Deere-Elapsed-Ms: 257 Vary: Accept-Encoding Content-Type: text/plain Location: https://sandboxapi.deere.com/platform/files/55 Cache-Control: max-age=0, no-cache Connection: keep-alive Content-Length: 20 Expires: Wed, 31 Aug 2016 16:18:22 GMT"
        "400":
          description: "Invalid file name. File name must be 5-69 characters: + alphanumeric + . + , + \\- + _ Also when invalid file type."
        "403":
          description: "Unauthorized to create file. Also when organization has not opted in to Operational Data Processing."
        "404":
          description: "Organization does not exists."
      statusCode:
        content:
          application/vnd.deere.axiom.v3+json:
            schema:
              $ref: "#/components/schemas/PostFiles"
components:
  securitySchemes:
    OAuth2:
      type: "oauth2"
      flows:
        clientCredentials:
          scopes:
            files: "files"
            ag3: "ag3"
  parameters:
    OrganizationID:
      in: "path"
      name: "orgId"
      description: "Organization"
      x-required-boolean: true
      schema:
        type: "string"
        default: "N/A"
        example: 73
    OrganizationID2:
      in: "path"
      name: "orgId"
      description: "Organization"
      x-required-boolean: true
      schema:
        type: "string"
        example: 73
    OrganizationID3:
      in: "path"
      name: "orgId"
      description: "Organization"
      x-required-boolean: true
      schema:
        type: "string"
        default: "N/A"
        example: "5343535"
    Filter:
      in: "query"
      name: "filter"
      description: "Takes ALL or MACHINE. ALL shows all the files in the org. MACHINE shows only the files sent from a machine to the host."
      x-required-boolean: false
      schema:
        type: "string"
        default: "ALL"
        format: "int64"
        example: "MACHINE"
    FilterOptional:
      in: "query"
      name: "filter"
      description: "Takes ALL or MACHINE. ALL shows all the files in the org. MACHINE shows only the files sent from a machine to the host."
      required: "Optional"
      schema:
        type: "string"
        default: "ALL"
        format: "int64"
        example: "MACHINE"
    FileType:
      in: "query"
      name: "fileType"
      description: "Takes a number that identifies the file type."
      x-required-boolean: false
      schema:
        type: "integer"
        default: "N/A"
        example: "0"
    FileTypeOptional:
      in: "query"
      name: "fileType"
      description: "Takes the file type number."
      required: "Optional"
      schema:
        type: "integer"
        default: "N/A"
        example: "0"
    X-deere-signature:
      name: "x-deere-signature"
      in: "header"
      x-required-boolean: false
      description: "x-deere-signature should be managed by the client per user per API. For a new user/new API, the first request will have a blank value for x-deere-signature. Changes can be tracked with the x-deere-signature returned in the response. If the response has not changed since the last API call, the value of x-deere-signature is not changed and the client should use the same String Token next time."
      schema:
        type: "string"
        example: "520122365ebb4870a344784570d202c7"
    X-deere-signatureOptional:
      name: "x-deere-signature"
      in: "header"
      required: "Optional"
      description: "x-deere-signature should be managed by the client per user per API. For a new user/new API, the first request will have a blank value for x-deere-signature. Changes can be tracked with the x-deere-signature returned in the response. If the response has not changed since the last API call, the value of x-deere-signature is not changed and the client should use the same String Token next time."
      schema:
        type: "string"
        example: "520122365ebb4870a344784570d202c7"
    Transferable:
      in: "query"
      name: "transferable"
      description: "Filters by whether a file is transferable"
      required: "Optional"
      schema:
        type: "boolean"
        default: "N/A"
        example: "true"
    Offset:
      name: "offset"
      in: ""
      description: "Allows client to download file in chunks. -1 will download entire file. For smaller pieces, enter offset point (in bytes) in this parameter."
      x-required-boolean: true
      schema:
        type: "integer"
        default: "N/A"
        example: -1
    Size:
      name: "size"
      in: ""
      description: "Allows client to download file in chunks. -1 will download entire file. For smaller pieces, enter size (in bytes) in this parameter."
      x-required-boolean: true
      schema:
        type: "integer"
        default: "N/A"
        example: -1
    FileId:
      name: "fileId"
      in: "path"
      description: "File Id."
      x-required-boolean: true
      schema:
        type: "string"
        default: "N/A"
        example: 577499742
    StartDate:
      name: "startDate"
      in: "query"
      description: "Takes a timestamp (in UTC) that indicates when the file was created. Timestamp format is the standard."
      schema:
        type: "string"
        format: "date-time"
        default: "N/A"
        example: "2013-01-04T14:08:51.104Z"
    EndDate:
      name: "endDate"
      in: "query"
      description: "Takes a timestamp (in UTC) that indicates when the file was created. Timestamp format is the standard"
      schema:
        type: "dateTime"
        default: "N/A"
        example: "2015-02-03T10:42:24.282Z"
    Status:
      name: "status"
      in: "query"
      description: "Allows client to filter files according to whether they are transferable to machines. Takes TRANSFERABLE and NON_TRANSFERABLE."
      schema:
        type: "string"
        default: "N/A"
        example: "TRANSFERABLE"
    Archived:
      name: "archived"
      in: "query"
      description: "Allows client to filter files according to whether they have been archived. TRUE returns only archived files."
      schema:
        type: "boolean"
        default: "false"
        example: "true"
    Name:
      name: "name"
      in: "body"
      description: "File name."
      x-required-boolean: true
      schema:
        example: "back40Seeding.zip"
        type: "string"
    DelayProcessing:
      name: "delayProcessing"
      in: "body"
      description: "Set to false to force the file to be processed if it would otherwise delay processing. Can only be used with a copyFrom link."
      schema:
        type: "boolean"
        example: "false"
    Links:
      name: "links"
      description: "Currently only supports a copyFrom rel, which can be passed to copy another file into the destination organization."
      in: "body"
      schema:
        type: "Array of Links"
        example: "[{\"rel\": \"copyFrom\", \"uri\": \"/files/12345\"}]"
  responses:
    FileListResponse:
      description: "Successful operation"
      content:
        application/vnd.deere.axiom.v3+json:
          schema:
            properties:
              links:
                type: "array"
                items:
                  $ref: "#/components/schemas/FilesLink"
              total:
                type: "number"
                format: "double"
                description: "Total number of files matching the request"
                example: 123
              values:
                items:
                  $ref: "#/components/schemas/FilesGet"
          examples:
            No Header:
              description: "200 OK Content-Type: application/vnd.deere.axiom.v3+json x-deere-signature: 520122365ebb4870a344784570d202c7"
              value:
                links:
                  - rel: "self"
                    uri: "https://sandboxapi.deere.com/platform/files"
                total: 1
                values:
                  links:
                    - rel: "self"
                      uri: "https://sandboxapi.deere.com/platform/files"
                  total: 1
                  values:
                    - links:
                        - rel: "owningOrganization"
                          uri: "https://sandboxapi.deere.com/platform/organizations/1234"
                        - rel: "partnerships"
                          uri: "https://sandboxapi.deere.com/platform/files/466578633/partnerships"
                        - rel: "self"
                          uri: "https://sandboxapi.deere.com/platform/files/466578633"
                      id: "577499742"
                      name: "back40.zip"
                      type: "SETUP"
                      createdTime: "2013-01-04T14:08:51.104Z"
                      modifiedTime: "2013-01-04T14:08:51.104Z"
                      nativeSize: "72946"
                      source: "JohnDoe"
                      transferPending: "false"
                      visibleViaShare: "owned"
                      shared: "false"
                      status: "UPLOAD_PENDING"
                      archived: "false"
                      assigned: "false"
                      new: "false"
    FileIdGet:
      description: "Successful operation"
      content:
        "":
          schema:
            description: "Based on value of embed request param one of the above response object is returned"
            properties:
              links:
                items:
                  $ref: "#/components/schemas/FilesLink"
              values:
                items:
                  $ref: "#/components/schemas/ValueFileIdGet"
          examples:
            No Header:
              description: "200 OK Content-Type: application/vnd.deere.axiom.v3+json"
              value:
                id: "577499742"
                name: "back40.zip"
                type: "SETUP"
                createdTime: "2015-02-03T10:42:24.282Z"
                modifiedTime: "2015-02-03T10:42:24.282Z"
                nativeSize: "72946"
                source: "JohnDoe"
                transferPending: "false"
                visibleViaShare: "owned"
                shared: "false"
                status: "UPLOAD_PENDING"
                archived: "false"
                assigned: "false"
                new: "false"
                links:
                  - rel: "owningOrganization"
                    uri: "https://sandboxapi.deere.com/platform/organizations/2101"
                  - rel: "self"
                    uri: "https://sandboxapi.deere.com/platform/files/466578633"
  schemas:
    FilesLink:
      properties:
        owningOrganization:
          example: "https://sandboxapi.deere.com/platform/organizations/1234"
          description: "Organization Link."
        partnerships:
          example: "https://sandboxapi.deere.com/platform/files/466578633/partnerships"
          description: "Partnership Link."
    FilesGet:
      type: "object"
      properties:
        x-deere-signature:
          type: "string"
          description: "A new x-deere-signature response header will be included if the response has changed since last api call."
          example: "520122365ebb4870a344784570d202c7"
        id:
          type: "string"
          example: 577499742
          description: "The id of the file."
        name:
          type: "string"
          example: "back40.zip"
          description: "The name of the file."
        type:
          type: "string"
          description: "The type of the file."
          example: "SETUP"
        createdTime:
          type: "string"
          format: "date-time"
          example: "2015-02-03T10:42:24.282Z"
          description: "Time at which the file was created."
        modifiedTime:
          x-zally-ignore:
            - "D010"
          type: "string"
          format: "date-time"
          description: "Time at which the file was last modified."
          example: "2015-02-03T10:42:24.282Z"
        nativeSize:
          type: "integer"
          format: "int64"
          description: "Size of the file."
          example: 72946
        source:
          type: "string"
          example: "JohnDoe"
          description: "Account with which the file was created."
        transferPending:
          type: "boolean"
          example: "false"
          description: "Indicates whether the file is currently in a pending transfer to a machine."
        visibleViaShare:
          type: "string"
          example: "owned"
          description: "Indicates whether you own the file, or it was shared with you. The value will be either \"owned\" or \"manual\"."
        shared:
          type: "boolean"
          example: "false"
          description: "Indicates whether the file is shared with another org."
        status:
          type: "string"
          example: "UPLOAD_PENDING"
          description: "Indicates whether the file can be transferred to a machine. Possible values are: Upload Pending, Ready, and In Progress."
        archived:
          type: "boolean"
          example: "false"
          description: "Indicates whether the file has been archived."
        new:
          type: "boolean"
          example: "false"
          description: "Indicates whether the file is new."
        format:
          type: "string"
          example: "IntegraVersaPlugin"
          description: "Indicates the plugin type."
        manufacturer:
          type: "string"
          example: "AgLeader"
          description: "Indicates the manufacturer."
    ValueFileIdGet:
      type: "object"
      properties:
        id:
          type: "string"
          example: 577499742
          description: "The id of the file."
        name:
          type: "string"
          example: "back40.zip"
          description: "The name of the file."
        type:
          type: "string"
          description: "The type of the file."
          example: "SETUP"
        createdTime:
          type: "string"
          format: "date-time"
          example: "2015-02-03T10:42:24.282Z"
          description: "Time at which the file was created."
        modifiedTime:
          x-zally-ignore:
            - "D010"
          type: "string"
          format: "date-time"
          description: "Time at which the file was last modified."
          example: "2015-02-03T10:42:24.282Z"
        nativeSize:
          type: "integer"
          format: "int64"
          description: "Size of the file."
          example: 72946
        source:
          type: "string"
          example: "JohnDoe"
          description: "Account with which the file was created."
        transferPending:
          type: "boolean"
          example: "false"
          description: "Indicates whether the file is currently in a pending transfer to a machine."
        visibleViaShare:
          type: "string"
          example: "owned"
          description: "Indicates whether you own the file, or it was shared with you. The value will be either \"owned\" or \"manual\"."
        shared:
          type: "boolean"
          example: "false"
          description: "Indicates whether the file is shared with another org."
        status:
          type: "string"
          example: "UPLOAD_PENDING"
          description: "Indicates whether the file can be transferred to a machine. Possible values are: Upload Pending, Ready, and In Progress."
        archived:
          type: "boolean"
          example: "false"
          description: "Indicates whether the file has been archived."
        new:
          type: "boolean"
          example: "false"
          description: "Indicates whether the file is new."
    PostFiles:
      properties:
        "201":
          description: "The file was successfully created."
          example: "Created"
        "400":
          description: "File names must be between 5 and 69 characters and may only contain international alphanumeric characters, spaces, and any of the following: \".,-_\". Specifically, it must match the following Unicode regular expression: ^[\\p{N}\\p{L}.,_ \\-]+$"
          example: "Must be between 5 and 69 characters Should not contain invalid characters."
    PutFiles:
      properties:
        "204":
          description: "The file was updated."
          example: "No Content"
        "400":
          description: "File names must be between 1 and 45 characters and may only contain international alphanumeric characters, spaces, and any of the following: \".,-_\". Specifically, it must match the following Unicode regular expression: ^[\\p{N}\\p{L}.,_ \\-]+$"
          example: "Must be between 1 and 45 characters Should not contain invalid characters."
    EditableFileDetails:
      type: "object"
      description: "AUTO-GENERATED STUB SCHEMA for EditableFileDetails. Original definition missing from Deere spec."
      x-generated: true
      additionalProperties: true
    PostableFileDetails:
      type: "object"
      description: "AUTO-GENERATED STUB SCHEMA for PostableFileDetails. Original definition missing from Deere spec."
      x-generated: true
      additionalProperties: true
