openapi: "3.0.2"
info:
  contact:
    name: "ISG_Dreamland"
    email: "ISG_Dreamland@JohnDeere.com"
  description: "Endpoints for Viewing machine information and their details."
  title: "Alerts endpoints"
  version: "1.0.0"
servers:
  - url: "https://api.deere.com/platform"
paths:
  /machines/{principalId}/alerts:
    get:
      description: "The alerts service allows clients to retrieve the information captured on the terminal when an alert occurred. For example, an alert is generated by a machine when the fuel pressure is low or there is a calibration fault in the fuel injector.Various alert types include machine, geofence, and maintenance. Response details will vary based on the alert type, which you can find in the links. Some responses will contain a \"definition\" that will give further information, see below. For each alert, the response links to the following resources: <ul> <li><b>machine</b>: View machine information</li> </ul>"
      summary: "Alerts"
      security:
        - OAuth2:
            - "eq1"
      parameters:
        - $ref: "#/components/parameters/principalId"
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
        - $ref: "#/components/parameters/ExcludeAcknowledged"
      responses:
        "200":
          $ref: "#/components/responses/AlertID"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "429":
          $ref: "#/components/responses/TooManyRequests"
components:
  securitySchemes:
    OAuth2:
      type: "oauth2"
      flows:
        clientCredentials:
          scopes:
            eq1: "eq1"
  parameters:
    principalId:
      name: "principalId"
      in: "path"
      description: "Principal ID of the machine/equipment."
      schema:
        type: "string"
        default: "N/A"
        example: "5432"
    StartDate:
      name: "startDate"
      in: "query"
      description: "Returns alerts from a specified date onward. Requests are time-based with a maximum length of seven days."
      schema:
        type: "string"
        format: "date-time"
        default: "24 hours before the timestamp of the request"
        example: "<mark>2013-04-29T00:00:00Z</mark>"
    EndDate:
      name: "endDate"
      in: "query"
      description: "Returns alerts until a specific date. Requests are time-based with a maximum length of seven days."
      schema:
        type: "string"
        format: "date-time"
        default: "The current time of the request"
        example: "<mark>2013-05-02T00:00:00Z</mark>"
    ExcludeAcknowledged:
      name: "excludeAcknowledged"
      in: "query"
      description: "Excludes acknowledged alerts if \"true.\""
      schema:
        type: "boolean"
        default: "false"
        example: "true"
  responses:
    AlertID:
      description: "The list of machines for a organization."
      content:
        application/vnd.deere.axiom.v3+json:
          schema:
            properties:
              links:
                type: "array"
                description: "Link list"
                items:
                  $ref: "#/components/schemas/AlertLink"
              total:
                example: 1
                format: "int64"
                minimum: 0
                type: "integer"
              values:
                items:
                  $ref: "#/components/schemas/AlertValue"
          examples:
            No Header:
              description: "200 OK<br/>Content-Type: application/vnd.deere.axiom.v3+json"
              value:
                links:
                  - rel: "self"
                    uri: "https://sandboxapi.deere.com/platform/machines/123456/alerts?startDate=2020-05-06T19:15:11.000Z&endDate=2020-05-13T19:15:11.000Z"
                total: 1
                values:
                  - "@type": "DiagnosticTroubleCodeAlert"
                    duration:
                      "@type": "measurementAsInteger"
                      valueAsInteger: "3"
                      unit: "Seconds"
                    occurrences: "1"
                    engineHours:
                      "@type": "EngineHours"
                      reading:
                        "@type": "measurementAsDouble"
                        valueAsDouble: 668.25
                        unit: "Hours"
                    machineLinearTime: 36951157
                    bus: "0"
                    definition:
                      "@type": "DiagnosticTroubleCodeAlertDefinition"
                      suspectParameterName: "524019"
                      failureModeIndicator: "31"
                      bus: "0"
                      sourceAddress: "140"
                      threeLetterAcronym: "AIC"
                      id: "1234567"
                      description: "Other AIC 524019.31 Reverser lever left in incorrect position. - Return to park to attempt recovery."
                      links:
                        - "@type": "Link"
                          rel: "self"
                          uri: "https://sandboxapi.deere.com/platform/api/alertTypes/diagnosticTroubleCodeAlert/definitions/1328105"
                    id: "123456789"
                    time: "2020-05-13T19:15:11.000Z"
                    location:
                      "@type": "Point"
                      lat: 41.123456
                      lon: -90.234567
                    color: "BLUE"
                    severity: "INFO"
                    acknowledgementStatus: "N"
                    ignored: false
                    invisible: false
                    links:
                      - "@type": "Link"
                        rel: "machine"
                        uri: "https://sandboxapi.deere.com/platform/machines/123456"
    BadRequest:
      description: "The provided payload was invalid or malformed."
      content:
        application/vnd.deere.axiom.v3+json:
          schema:
            $ref: "#/components/schemas/BadRequestResponseBody"
    Unauthorized:
      description: "The request could not be authorized with the given credentials."
      content:
        application/vnd.deere.axiom.v3+json:
          schema:
            $ref: "#/components/schemas/UnauthorizedResponseBody"
    Forbidden:
      description: "The provided authorization is not allowed to access this resource."
      content:
        application/vnd.deere.axiom.v3+json:
          schema:
            $ref: "#/components/schemas/ForbiddenResponseBody"
    NotFound:
      description: "The requested resource could not be found."
      content:
        application/vnd.deere.axiom.v3+json:
          schema:
            $ref: "#/components/schemas/NotFoundResponseBody"
    NotAcceptable:
      description: "The given Accept headers did not allow for the content type this resource produces."
      content:
        application/vnd.deere.axiom.v3+json:
          schema:
            $ref: "#/components/schemas/NotAcceptableResponseBody"
    TooManyRequests:
      description: "The server has received too many requests and cannot fulfill them. Try again at a later time."
      content:
        application/vnd.deere.axiom.v3+json:
          schema:
            $ref: "#/components/schemas/TooManyRequestsResponseBody"
  schemas:
    AlertLink:
      properties:
        machine:
          example: "https://sandboxapi.deere.com/platform/machines/123456"
          description: "Machines Link."
    AlertValue:
      properties:
        id:
          type: "string"
          example: 13243546
          description: "Alert ID."
        time:
          type: "string"
          format: "date-time"
          example: "2014-10-21T 10:32:30.000Z"
          description: "Time of alert."
        location:
          type: "See sample code."
          example: "See sample code. Includes latitude and longitude."
          description: "Location of machine during the alert."
          properties:
            lat:
              type: "double"
              example: 53.285722
              description: "Latitude"
            lon:
              type: "double"
              example: 42.864666
              description: "Longitude"
        color:
          example: "YELLOW"
          description: "Alert color<sup><a href='#additional'>1</a></sup>."
          type: "string"
        severity:
          type: "string"
          description: "Severity of the alert<sup><a href='#additional'>1</a></sup>."
          example: "MEDIUM"
        acknowledgementStatus:
          type: "string"
          example: "N"
          description: "Shows whether the alert was acknowledged. Values are \"Y\" or \"N\"."
        ignored:
          type: "boolean"
          example: "false"
          description: "Shows whether the alert was ignored"
        invisible:
          type: "boolean"
          example: "false"
          description: "Shows whether the alert was invisible"
        duration:
          example: "See sample code. Includes \"unit\" and \"valueAsInteger.\""
          type: "object"
          description: "Duration of the alert."
          properties:
            unit:
              type: "string"
              example: "Seconds"
              description: "Unit of duration measurement."
            valueAsInteger:
              type: "integer"
              example: 160
              description: "The duration measurement."
        occurrences:
          type: "integer"
          example: 1
          description: "Number of times this alert has occurred."
        engineHours:
          example: "See sample code. Includes \"links,\" and \"reading.\""
          type: "object"
          description: "Engine hours of the machine during the alert."
          properties:
            reading:
              example: "See sample code. Includes \"unit,\" and \"valueAsDouble.\""
              type: "See sample code."
              description: "Engine hour reading."
              properties:
                unit:
                  type: "string"
                  example: "hours"
                  description: "Unit of engine hour measurement."
                valueAsDouble:
                  type: "double"
                  example: 1528.7333
                  description: "Engine hour measurement."
        machineLinearTime:
          type: "string"
          example: 97604307
          description: "Machine's linear time during the alert."
        definition:
          example: "See sample code. Includes \"suspectParameterName\", \"failureModeIndicator\", \"bus\", \"sourceAddress\", \"threeLetterAcronym\", \"Id\", and \"description\"."
          description: "Further details about the alert and alert source."
          type: "See sample code."
          properties:
            suspectParameterName:
              example: 12345
              type: "string"
              description: "Unique Diagnostic Trouble Code identifier. See vendor equipment documentation for SPN details."
            failureModeIndicator:
              example: 12
              type: "string"
              description: "Indicates the failure mode for the SPN. See vendor equipment documentation for SPN failure mode details."
            bus:
              example: "0"
              type: "integer"
              description: "CAN (Controller Area Network) bus identifier."
            sourceAddress:
              type: "string"
              example: 123
              description: "CAN bus Electronic Controller Unit (ECU) source address."
            threeLetterAcronym:
              type: "string"
              example: "AIC"
              description: "CAN bus Electronic Controller Unit (ECU) abbreviation."
            id:
              type: "string"
              description: "Diagnostic Trouble Code (DTC) Alert Id."
              example: 12345
            description:
              type: "string"
              example: "Other AIC 524019.31 Reverser lever left in incorrect position. - Return to park to attempt recovery."
              description: "Diagnostic Trouble Code (DTC) description."
    BadRequestResponseBody:
      type: "object"
      description: "Stub schema for BadRequestResponseBody (auto-generated - original was missing)"
      additionalProperties: true
    UnauthorizedResponseBody:
      type: "object"
      description: "Stub schema for UnauthorizedResponseBody (auto-generated - original was missing)"
      additionalProperties: true
    ForbiddenResponseBody:
      type: "object"
      description: "Stub schema for ForbiddenResponseBody (auto-generated - original was missing)"
      additionalProperties: true
    NotFoundResponseBody:
      type: "object"
      description: "Stub schema for NotFoundResponseBody (auto-generated - original was missing)"
      additionalProperties: true
    NotAcceptableResponseBody:
      type: "object"
      description: "Stub schema for NotAcceptableResponseBody (auto-generated - original was missing)"
      additionalProperties: true
    TooManyRequestsResponseBody:
      type: "object"
      description: "Stub schema for TooManyRequestsResponseBody (auto-generated - original was missing)"
      additionalProperties: true
