openapi: "3.0.0"
info:
  title: "Organizations"
  description: "This endpoint is used to retrieve organizations for which the requesting user has permissions."
  version: "0.0.1"
  contact:
    name: "SOUP Team"
    email: "isg_souperfriends@johndeere.com"
servers:
  - url: "https://api.deere.com/platform"
    description: "MyJohnDeere API"
paths:
  /organizations:
    get:
      summary: "List Orgs"
      description: "This request will return a list of organizations."
      parameters:
        - $ref: "#/components/parameters/UserName"
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/OrgName"
        - $ref: "#/components/parameters/X-deere-signature"
      responses:
        "200":
          description: "Organization List"
          content:
            application/vnd.deere.axiom.v3+json:
              schema:
                properties:
                  links:
                    items:
                      $ref: "#/components/schemas/OrganizationLink"
                  values:
                    items:
                      $ref: "#/components/schemas/Organization"
              examples:
                No Header:
                  description: "200 OK Content-Type: application/vnd.deere.axiom.v3+json x-deere-signature: 3b5392015e4b4e1c92013026f47109bb"
                  value:
                    links:
                      - rel: "self"
                        uri: "https://sandboxapi.deere.com/platform/organizations"
                    total: 2
                    values:
                      - "@type": "Organization"
                        name: "A First Org Name (Is Enabled)"
                        type: "customer"
                        member: true
                        internal: false
                        id: "1234"
                        links:
                          - rel: "self"
                            uri: "https://sandboxapi.deere.com/platform/organizations/1234"
                          - rel: "manage_connections"
                            uri: "https://connections.deere.com/connections/28efb3cb-cbd5-4888-8570-99465ea8860e/connections-dialog?orgId=1234"
                      - "@type": "Organization"
                        name: "A Second Org Name (Not Enabled)"
                        type: "customer"
                        member: true
                        internal: false
                        id: "4321"
                        links:
                          - rel: "self"
                            uri: "https://sandboxapi.deere.com/platform/organizations/4321"
                          - rel: "connections"
                            uri: "https://connections.deere.com/connections/28efb3cb-cbd5-4888-8570-99465ea8860e/select-organizations"
        "403":
          description: "Not authorized"
        "404":
          description: "Not found"
  /organizations/{orgId}:
    get:
      summary: "View an Organization"
      description: "This request will return information about an organization, such as its name, type, and whether or not you are a member of the organization. It contains links to the following resources:"
      parameters:
        - $ref: "#/components/parameters/OrgIdGet"
      responses:
        "200":
          description: "View Organization List"
          content:
            application/vnd.deere.axiom.v3+json:
              schema:
                properties:
                  links:
                    items:
                      $ref: "#/components/schemas/OrganizationLink2"
                  values:
                    items:
                      $ref: "#/components/schemas/OrganizationView"
              examples:
                Org enabled:
                  description: "200 OK Content-Type: application/vnd.deere.axiom.v3+json x-deere-signature: 3b5392015e4b4e1c92013026f47109bb"
                  value:
                    "@type": "Organization"
                    name: "OrgName"
                    type: "customer"
                    member: true
                    internal: false
                    id: "1234"
                    links:
                      - rel: "self"
                        uri: "https://sandboxapi.deere.com/platform/organizations/1234"
                      - rel: "manage_connections"
                        uri: "https://connections.deere.com/connections/28efb3cb-cbd5-4888-8570-99465ea8860e/connections-dialog?orgId=1234"
                Org not enabled:
                  description: "200 OK Content-Type: application/vnd.deere.axiom.v3+json x-deere-signature: 3b5392015e4b4e1c92013026f47109bb"
                  value:
                    "@type": "Organization"
                    name: "OrgName"
                    type: "customer"
                    member: true
                    internal: false
                    id: "4321"
                    links:
                      - rel: "self"
                        uri: "https://sandboxapi.deere.com/platform/organizations/4321"
                      - rel: "connections"
                        uri: "https://connections.deere.com/connections/28efb3cb-cbd5-4888-8570-99465ea8860e/select-organizations"
  /users/{userName}/organizations:
    get:
      summary: "View User Orgs"
      description: "This request will return a list of organizations. The response will ONLY contain organizations in which the user is a staff member (member=true). This response will NOT contain partner organizations in which the user is not a staff member (member=false)."
      parameters:
        - $ref: "#/components/parameters/UserName2"
        - $ref: "#/components/parameters/X-deere-signature2"
      responses:
        "200":
          description: "View Organization List"
          content:
            application/vnd.deere.axiom.v3+json:
              schema:
                properties:
                  links:
                    items:
                      $ref: "#/components/schemas/OrganizationLink2"
                  values:
                    items:
                      $ref: "#/components/schemas/OrganizationViewGet"
              examples:
                No Header:
                  description: "200 OK Content-Type: application/vnd.deere.axiom.v3+json x-deere-signature: 3b5392015e4b4e1c92013026f47109bb"
                  value:
                    links:
                      - rel: "self"
                        uri: "https://sandboxapi.deere.com/platform/users/johndoe/organizations"
                    total: 2
                    values:
                      - "@type": "Organization"
                        name: "A First Org Name (Is Enabled)"
                        type: "customer"
                        member: true
                        internal: false
                        id: "1234"
                        links:
                          - rel: "self"
                            uri: "https://sandboxapi.deere.com/platform/organizations/1234"
                          - rel: "manage_connections"
                            uri: "https://connections.deere.com/connections/28efb3cb-cbd5-4888-8570-99465ea8860e/connections-dialog?orgId=1234"
                      - "@type": "Organization"
                        name: "A Second Org Name (Not Enabled)"
                        type: "customer"
                        member: true
                        internal: false
                        id: "4321"
                        links:
                          - rel: "self"
                            uri: "https://sandboxapi.deere.com/platform/organizations/4321"
                          - rel: "connections"
                            uri: "https://connections.deere.com/connections/28efb3cb-cbd5-4888-8570-99465ea8860e/organizations"
  /organizations/{orgId}/users:
    get:
      summary: "List Organization Users"
      description: "Returns a list of users belonging to the specified organization."
      parameters:
        - $ref: "#/components/parameters/OrgIdGet"
      responses:
        "200":
          description: "Organization Users List"
          content:
            application/vnd.deere.axiom.v3+json:
              schema:
                properties:
                  links:
                    items:
                      $ref: "#/components/schemas/OrganizationLink"
                  values:
                    items:
                      $ref: "#/components/schemas/OrganizationUser"
        "403":
          description: "Not authorized"
        "404":
          description: "Not found"
components:
  parameters:
    UserName:
      in: "query"
      name: "userName"
      description: "Returns a list of organizations of which a particular user is a member."
      x-required-boolean: false
      schema:
        type: "string"
        example: "JohnDoe"
    UserName2:
      in: "path"
      name: "userName"
      description: "User Name."
      x-required-boolean: true
      schema:
        type: "string"
        example: "JohnDoe"
    OrgId:
      in: "query"
      name: "orgId"
      description: "Returns the name of the organization that corresponds with the given organization ID."
      x-required-boolean: false
      schema:
        type: "string"
        example: 2101
    OrgName:
      in: "query"
      name: "orgName"
      description: "Returns a list of organizations that contain the given string in their name."
      x-required-boolean: false
      schema:
        type: "string"
        example: "Smith Farms"
    X-deere-signature:
      in: "header"
      name: "x-deere-signature"
      description: "x-deere-signature should be managed by the client per user per API. For a new user/new API, the first request will have a blank value for x-deere-signature. Changes can be tracked with the x-deere-signature returned in the response. If the response has not changed since the last API call, the value of x-deere-signature is not changed and the client should use the same String Token next time."
      x-required-boolean: false
      schema:
        type: "string"
        example: "7r5392615e4b4e1c92018026f47109bb"
    X-deere-signature2:
      in: "header"
      name: "x-deere-signature"
      description: "x-deere-signature should be managed by the client per user per API. For a new user/new API, the first request will have a blank value for x-deere-signature. Changes can be tracked with the x-deere-signature returned in the response. If the response has not changed since the last API call, the value of x-deere-signature is not changed and the client should use the same String Token next time."
      x-required-boolean: false
      schema:
        type: "string"
        example: "4r5392615e4b4e1c92018026f47109bb"
    OrgIdGet:
      in: "path"
      name: "orgId"
      description: "Organization"
      x-required-boolean: true
      schema:
        type: "string"
        example: 734561
  schemas:
    OrganizationLink:
      properties:
        self:
          example: "https://sandboxapi.deere.com/platform/organizations/1234"
          description: "Link to organization"
        connections:
          example: "https://connections.deere.com/connections/28efb3cb-cbd5-4888-8570-99465ea8860e/select-organizations"
          description: "Redirect link to enable organization access"
        manage_connections:
          example: "https://connections.deere.com/connections/28efb3cb-cbd5-4888-8570-99465ea8860e/connections-dialog?orgId=1234"
          description: "Redirect link to manage organization access and permissions"
    OrganizationLink2:
      properties:
        self:
          example: "https://sandboxapi.deere.com/platform/organizations/1234"
          description: "Link to organization"
        connections:
          example: "https://connections.deere.com/connections/28efb3cb-cbd5-4888-8570-99465ea8860e/organizations"
          description: "Redirect link to enable organization access"
        manage_connections:
          example: "https://connections.deere.com/connections/28efb3cb-cbd5-4888-8570-99465ea8860e/connections-dialog?orgId=1234"
          description: "Redirect link to manage organization access and permissions"
    Organization:
      properties:
        x-deere-signature:
          type: "string"
          example: "3b5392015e4b4e1c92013026f47109bb"
          description: "A new x-deere-signature response header will be included if the response has changed since last api call."
        id:
          type: "string"
          description: "The organization ID."
          example: 1234
        name:
          type: "string"
          description: "The organization name."
          example: "Smith Farms"
        type:
          type: "string"
          description: "The organization type: customer or dealer."
          example: "customer"
        member:
          type: "boolean"
          example: "true"
          description: "TRUE means that the user is a member of the org."
    OrganizationView:
      properties:
        id:
          type: "string"
          description: "The organization ID."
          example: 1234
        name:
          type: "string"
          description: "The organization name."
          example: "Smith Farms"
        type:
          type: "string"
          description: "The organization type: customer or dealer."
          example: "customer"
        member:
          type: "boolean"
          example: "true"
          description: "TRUE means that the user is a member of the org."
    OrganizationViewGet:
      properties:
        x-deere-signature:
          type: "string"
          example: "3b5392015e4b4e1c92013026f47109bb"
          description: "A new x-deere-signature response header will be included if the response has changed since last api call."
        id:
          type: "string"
          description: "Organization ID."
          example: 1234
        name:
          type: "string"
          description: "Organization name."
          example: "Smith Farms"
        type:
          type: "string"
          description: "Organization type."
          example: "customer"
        partnerships:
          example: "Apple Farms"
          type: "string"
          description: "Partners of this organization."
        member:
          type: "boolean"
          example: "true"
          description: "Indicates whether the user is a member of the organization."
    OrganizationUser:
      properties:
        accountName:
          type: "string"
          description: "User's account name."
          example: "JohnDoe"
        givenName:
          type: "string"
          description: "User's first name."
          example: "John"
        familyName:
          type: "string"
          description: "User's last name."
          example: "Doe"
        userType:
          type: "string"
          description: "User's type. Examples are customer, dealer, internal."
          example: "Customer"
